h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
}
a {
   font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
   font-size: 18px;
   color: purple;
   margin: 0;
   padding: 0;
   text-align: left;
}

p{
   font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
   font-size: 18px;
   color: black;
   margin: 0;
   padding: 0;
   text-align: left;
}
.item1 { 
    background-color: #7343a7;
    grid-area: header;
}
.item2 { 
    background-color: #ACEAEF;

    grid-area: menu; 
    display: flex;
    flex-direction: column;
    min-width:300px;
}
.item3 { 
    background-color: #fcd3de;
    grid-area: main;
}
.item4 { 
    background-color: #fcd3de;
    grid-area: right;
 }
.item5 { 
    background-color: #7343a7;
    grid-area: footer;
 }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #11001C;
  padding: 20px;
}

.grid-container > div {
  text-align: center;
  padding: 30px 30px;
  font-size: 30px;
}